@model TasteMuseum.Business.Requests.Auth.RegisterRequest

@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(true)
    </div>
}